/* h1{
    text-               //cross origin
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.content{

    border-radius: 24px;
    background-image: url();
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.container, .content{
    width: 800px;
    min-height: 168;
    background-color: wheat;
    text-decoration:line-through;


    
}

.container h2{
    font-weight: 800;
    font-size: 40;
}

.container a{
    font-weight: 700;
    font-size: 40;
}

